<a href="https://colab.research.google.com/github/JrClap/SeminarPython/blob/main/pyhomework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Задача 2
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.

In [2]:
def fruit_basket(**kwargs):
    {print(f"Фрукт {name} в количестве {values} шт")
     for name, values in kwargs.items()}
    return print(f'Общее количество фруктов: {sum(kwargs.values())}')

In [3]:
fruit_basket(Лимоны = 15, Яблоки = 25, Персики = 51)

Фрукт Лимоны в количестве 15 шт
Фрукт Яблоки в количестве 25 шт
Фрукт Персики в количестве 51 шт
Общее количество фруктов: 91

##Задача 3
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты.

Используйте list comprehensions.

In [4]:
ad_spend = [100, 125, -90, 345, 655, -1, 0, 200]

In [5]:
def calculate_total_expenses(expenses):
    positive_expenses = [i for i in expenses if i >= 0]
    total_expenses = sum(positive_expenses)
    return total_expenses

In [8]:
total_expenses = calculate_total_expenses(ad_spend)
print(f"Суммарные затраты на рекламу: {total_expenses} $")

Суммарные затраты на рекламу: 1425 $

##Задача 4
Даны два списка:
1. Дата покупки;
2. Суммы покупок по датам.

###4.1 Найдите, какая выручка у компании в ноябре. Используйте list comprehensions.
###4.2 Найдите выручку компании в зависимости от месяца.

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

Используйте аннотирование типов.

In [13]:
purchase_date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', 
                 '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', 
                 '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', 
                 '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', 
                 '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
amounts_dates = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 
                 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [15]:
revenue_november = sum([summa for data, summa in zip(purchase_date, amounts_dates) if data.startswith('2021-11')])
print("Выручка компании в ноябре:", revenue_november)

Выручка компании в ноябре: 25098

In [16]:
from typing import List, Dict

In [17]:
def calculate_revenue_by_month(dates: List[str], revenue: List[int]) -> Dict[str, int]:
    revenue_by_month = {}
    for date, amount in zip(dates, revenue):
        month = date.split('-')[1]  # Извлечение месяца из даты
        if month not in revenue_by_month:
            revenue_by_month[month] = 0  # Инициализация выручки для нового месяца
        revenue_by_month[month] += amount  # Добавление выручки к соответствующему месяцу

    return revenue_by_month

In [23]:
calculate_revenue_by_month(purchase_date, amounts_dates)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}